@use '../../../../styles/color';

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: 769px) {
    margin-top: 0;
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    color: color.$grayDark;
  }

  > div > div {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
      height: 26px;
    }

    span,
    p {
      font-weight: 600;
      font-size: 14px;
      color: #212925;
    }

    p {
      margin-top: -5px;
      margin-bottom: 0;
    }
  }
}
