@use '../../../../styles/color';

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: 992px) {
    margin-top: 0;
  }

  h2 {
    font-weight: 600;
    font-size: 16px;
    color: color.$grayDark;
  }

  > div > div {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
      height: 26px;
    }

    span,
    p {
      font-weight: 600;
      font-size: 14px;
      color: #212925;
    }

    p {
      margin-top: -5px;
      margin-bottom: 0;
    }
  }
}

:global(body.theme-dark) .wrapper {
  h2 {
    color: #fff;
  }

  p {
    color: #ffffff60;
  }
}

.col-xxs-12 {
  margin-top: 10px;

  @media (max-width: 350px) {
    flex: 0 0 auto;
    width: 100%;
  }
}
