@use '../../styles/color';

.sale {
  padding-top: 20px;

  h1 {
    font-weight: 600;
    font-size: 28px;
    color: color.$redDark;
  }

  &__header {
    margin-bottom: 20px;

    + p {
      font-size: 16px;
    }
  }

  &__card__coin-raised {
    margin: -35px -30px 0;
    padding: 35px 30px;
    background: linear-gradient(
      226.31deg,
      color.$redLight 21.33%,
      color.$redDark 45.72%
    );
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    color: color.$white;
  }
}
