.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-left-radius: $input-border-radius;
  border-bottom-left-radius: $input-border-radius;
}

.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
}

.input-group-text {
  background: none;
  border: none;
  color: #b6a0a0;
}

body.theme-dark {
  input.form-range::-webkit-slider-runnable-track {
    background: #1f1f1f !important;
  }

  input.form-range:focus::-webkit-slider-runnable-track {
    background: #1f1f1f !important;
  }

  input.form-range::-moz-range-track {
    background: #1f1f1f !important;
  }

  input.form-range::-ms-fill-lower {
    background: #1f1f1f !important;
  }

  input.form-range:focus::-ms-fill-lower {
    background: #1f1f1f !important;
  }

  input.form-range::-ms-fill-upper {
    background: #1f1f1f !important;
  }

  input.form-range:focus::-ms-fill-upper {
    background: #1f1f1f !important;
  }

  input.form-control {
    background: #1f1f1f;
    color: #fff;
    border-color: #ffffff0d;
  }
}
