@use '../../styles/color';

header {
  margin: 0;
  box-shadow: 0px 4px 4px 0px #00000026;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 37px;
  }

  nav > .dropdown {
    display: none;
  }

  nav > .dropdown {
    margin-right: 40px;

    .dropdown-toggle::after {
      display: none;
    }

    button {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: color.$redDark;
      text-decoration: none;

      &:hover {
        color: color.$redDark;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .dropdown-menu {
      border-radius: 11px;
      box-shadow: 0px 4px 4px 0px #00000026;
      padding: 0;

      .dropdown-item {
        padding: 14px 20px;
        font-weight: 500;
        font-size: 14px;
        color: #7e7a7a;

        &:not(:last-child) {
          border-bottom: 1px solid #e3d6d64d;
        }
      }
    }

    svg {
      margin-left: 7px;
      margin-bottom: 7px;
    }
  }

  button > svg.logo {
    margin-right: 13px;
  }

  .notification-bar {
    background: color.$redLight;
    padding: 12px;
    color: color.$white;

    p {
      font-weight: 500;
      font-size: 14px;
      margin: 0;
      text-align: center;
    }
  }
}

@media (min-width: 769px) {
  header {
    box-shadow: none;

    nav > .dropdown {
      display: inline-block;
    }
  }
}
