@use '../../../../styles/color';

.h3 {
  color: color.$grayLight;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

:global(body.theme-dark) .h3 {
  color: #ffffff60;
}

.h1 {
  color: color.$redDark;
  font-size: 30px;
  margin-bottom: 20px;
}

:global(body.theme-dark) .h1 {
  color: #fff;
}

.h1,
.h5 {
  font-weight: 600;
}

.h5,
.h5 + p,
h5 + p + small {
  font-size: 16px;
}

.h5 {
  color: color.$grayDark;
  margin-bottom: 7px;
  line-height: 20px;
}

:global(body.theme-dark) .h5 {
  color: #ffffff60;
}

.h5 + p {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

:global(body.theme-dark) .h5 + p {
  color: #fff;
}

.h5 + p + small {
  font-weight: 500;
  color: #a92534;
}

.mb20 {
  margin-bottom: 20px !important;
}

:global(body.theme-dark) .h6 {
  color: #ffffff60 !important;
}

@media (max-width: 768px) {
  .buyFrock {
    font-size: 14px !important;
  }

  .cardApr {
    padding-top: 10px;
    padding-bottom: 10px;

    h5 {
      margin-top: 3px;
      margin-bottom: 0 !important;
    }

    > div:last-child {
      display: none;
    }

    .yourApr {
      font-size: 24px;
    }
  }
}

@media (min-width: 769px) {
  .h1 {
    font-size: 40px;
  }
}
