@use '../../styles/color';

:global(body.theme-dark) :global(.popover-arrow) {
  &::after {
    border-bottom-color: color.$cardDark;
  }
}

:global(body.theme-dark) :global(.popover) {
  border: none;
}

:global(body.theme-dark) .wrapper {
  background-color: color.$cardDark;
  color: color.$white;
}

.p,
.a {
  font-size: 14px;
}

.p {
  margin-bottom: 0;
}

.a {
  display: block;
  margin-top: 14px;
  font-weight: 500;
  color: color.$redDark;
  text-decoration: none;

  &:hover {
    color: color.$redDark;
  }
}

.svg {
  cursor: pointer;

  &:hover g > path:first-child {
    fill: darken(#d1c7c7, 10%);
  }
}

@media (max-width: 768px) {
  .svg {
    width: 20px;
    height: 20px;
  }
}
