@use '../../styles/color';

.p,
.a {
  font-size: 14px;
}

.p {
  margin-bottom: 0;
}

.a {
  display: block;
  margin-top: 14px;
  font-weight: 500;
  color: color.$redDark;
  text-decoration: none;

  &:hover {
    color: color.$redDark;
  }
}

@media (max-width: 768px) {
  .svg {
    width: 20px;
    height: 20px;
  }
}
